/*Arxius*/

#smart-archives-block{

	padding-bottom:15px;

}

#smart-archives-list h2{

font-size:14px;
font-family:Georgia, Trebuchet, Verdana, Arial;

}


#smart-archives-list li, .ddsg-wrapper li{

	padding-top:10px;
	list-style-image: url("../images/fletxa.gif");

}

#smart-archives-list li a{

	text-decoration:none;

}

#smart-archives-list ul{

	padding-bottom:15px;

}
