
/*Planol Web*/



.ddsg-wrapper a{
font-weight:normal !important;
}



.ddsg-pagenav{

text-align:center;
font-size:16px;
}

#ddsgcredits{display:none;}

h3.ytc_title{
	padding-top:5px;
	margin-bottom:20px;
	font-family: $SecundariaCentre;
	font-size:16px;
	font-style:normal;
	text-align: center;
}

.ytc_link{

	font-size:28px;
	font-weight:bold;
	font-family:$SecundariaCentre;


}
