/* BARRES LATERALS */

aside {

float:left;
max-width:20%;
}

aside ul {

	margin: 0;
	padding: 0;
}

aside ul {
	margin: 0 0 10px;
}

aside ul li {
	padding: 10px 10px 0;
		list-style-type: none;
}


aside ul li h2 {
	border-bottom: 1px dotted #2a423c;
	padding: 8px 10px 9px;
	font-size: 2em;
	font-weight: normal;
	letter-spacing: -1px;
}

aside ul ul {
	margin: 0;
	padding: 6px 5px 0;
	margin: 0 5px 10px;
	line-height: 24px;
	list-style-type: square;
}

aside ul ul li {
	padding: 0;
}

aside ul ul ul {
	padding: 0 0 0 10px;
}

li.rss a {
	text-decoration: none;
	padding: 0;
}

li.rss a:hover{
	background: none;
	padding: 0;
}

aside img{
 box-shadow: none !important;

}


#search {
    border:1px solid $ColorCentre;
    padding: 5px 8px 7px;
}

#searchsubmit{
max-width:31px;
height: auto;

}

#search .text {
    border: 0;
    width: 128px;
    vertical-align: middle;
	font-size: 20px;
}

#search .button {
    border: 0;
    vertical-align: middle;
}


#calendar a{
	margin: 0;
	padding: 0;
	color: #99042E;
	text-decoration: underline;
}

#calendar a:hover{
	margin: 0;
	padding: 0;
	background: #99042E;
	color: #ffe9b7;
}

#wp-calendar > caption{
	margin: 5px;
	font-weight: bold;
}

#wp-calendar th, #wp-calendar td {
	margin: 3px;
}


/* Nuvol d'Etiquetes */

.tagcloud {
	font-family: 'Cormorant', serif;
	background: #99042E;
	padding: 10px;
	box-shadow: 0 0 5px 5px #99042E;


}

.tagcloud  a{
	color: #FFF;
	margin: 3px ;
	font-weight: bold;
	text-decoration: none;
}

.tagcloud a:hover{
	margin: 3px;
	color: $ColorSecundariCentre;
	text-decoration: none;
}


/* Llista Activitats*/

aside h2{

	font-size:30px;

}

li.categories, .categories li, #smart-archives-list li{
	font-size:1em;
	font-family: 'Montserrat' , sans-serif;
	font-weight:bold;
	list-style-type:none;


}

.categories li a:hover, #smart-archives-list li a:hover{

	border-bottom:1px dotted #CCC;

}
