
#menuFooter li, #xarxesFooter li{
	display:block;
	list-style-type:none;
	float:left;
	text-align: left;
}

#menuFooter li{
	padding:0 18px;
	border-right: solid #FFF 1px;
}

#menuFooter li:last-child{

	border-right:none;
}

#xarxesFooter li{
	filter:sepia(50%);
	width:40px
}

#xarxesFooter li:hover{

filter:sepia(0%);

}
